/* Importa la fuente "Roboto" desde Google Fonts para usarla en todo el sitio. */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: rgb(3, 2, 2);
}

/*
SECCIÓN 1 header
*/

.main-header{
    background:#0f172a;
    padding:15px 0;
}
.main-header nav{
    max-width:1200px;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
}
.logo img{
    height:35px;
}
.nav-links{
    display:flex;
    align-items:center;
    gap:10px;
}
.nav-links a{
    text-decoration:none;
    color:white;
    padding:10px 15px;
    border-radius:25px;
    font-size:14px;
    font-weight:bold;
}
.nav-links a:hover{
    background:rgba(255,255,255,.1);
}
.exclusive{
    background:#22d3ee;
    color:#111!important;
}
.login{
    background:white;
    color:#111!important;
}
/* ocultar checkbox */
#menu-check{
    display:none;
}
/* ocultar boton en PC */
.menu-icon{
    display:none;
    color:white;
    font-size:25px;
    cursor:pointer;
}
/* 
   PANTALLA
*/

@media(max-width:900px){
    .main-header nav{
        justify-content:space-between;
        padding:0 20px;
    }
    /* aparece hamburguesa */
    .menu-icon{
        display:block;
    }
    /* desaparecen opciones */
    .nav-links{
        position:absolute;
        top:70px;
        left:0;
        width:100%;
        background:#0f172a;
        flex-direction:column;
        padding:20px;
        display:none;
        z-index:1000;
    }
    .nav-links a{
        width:100%;
        text-align:center;
    }
    /* cuando presiona */
    #menu-check:checked ~ .nav-links{
        display:flex;
    }
/* cambia icono visual */
#menu-check:checked + .menu-icon i{
    content:"";
}
}
/*
SECCIÓN 2
*/
.banner-slider{
    width:90%;
    max-width:1400px;
    margin:35px auto;
    overflow:hidden;
    border-radius:20px;
    position:relative;
}

.banner-track{
    display:flex;
    animation:banner 15s infinite;
}

.banner-slide{
    flex:0 0 100%;
}

.banner-slide img{
    width:100%;
    display:block;
}

/* FLECHAS */

.banner-controls{
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:0 15px;
    transform:translateY(-50%);
    z-index:5;
}

.banner-btn{
    width:30px;
    height:30px;
    border-radius:50%;
    border:none;
    background:rgba(0,0,0,.55);
    color:white;
    cursor:pointer;
    font-size:12px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.banner-btn:hover{
    background:white;
    color:black;
}
@keyframes banner{

0%,12%{
transform:translateX(0%);
}

14%,26%{
transform:translateX(-100%);
}

28%,40%{
transform:translateX(-200%);
}

42%,54%{
transform:translateX(-300%);
}

56%,68%{
transform:translateX(-400%);
}

70%,82%{
transform:translateX(-500%);
}

84%,100%{
transform:translateX(-600%);
}

}


/*
SECCIÓN 3 TOP 5
*/

.top-section{
    width:100%;
    max-width:1200px;
    margin:2px auto;

}
.top-section h2{
    color:white;
    font-size:60px;
    font-weight:950;
    margin-bottom:5px;
    text-align:center;
}
.top5{
    width:100%;
    height:520px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}
.top5 input{
    display:none;
}
.coverflow{
    position:relative;
    width:850px;
    height:450px;
}
.card{
    position:absolute;
    width:800px;
    height:300px;
    display:flex;
    background:#111;
    border-radius:25px;
    overflow:hidden;
    box-shadow:0 20px 50px rgba(0,0,0,.7);
    transition:.6s;
    opacity:0;
}
.card img{
    width:260px;
    height:100%;
    object-fit:cover;
}
/* texto al lado */
.card-text{
    padding:25px 35px;
    color:white;
}
.card-text h3{
    font-size:29px;
    margin-bottom:20px;
}
.card-text p{
    color:#ccc;
    font-size:18px;
    line-height:1.5;
}

/* 
   PELÍCULA PRINCIPAL
 */

#s1:checked ~ .coverflow .c1,
#s2:checked ~ .coverflow .c2,
#s3:checked ~ .coverflow .c3,
#s4:checked ~ .coverflow .c4,
#s5:checked ~ .coverflow .c5{
    opacity:1;
    transform:translateX(0) scale(1.08);
    z-index:5;
}

/* siguiente película */
#s1:checked ~ .coverflow .c2,
#s2:checked ~ .coverflow .c3,
#s3:checked ~ .coverflow .c4,
#s4:checked ~ .coverflow .c5,
#s5:checked ~ .coverflow .c1{
    opacity:.45;
    transform:translateX(130px) scale(.88);
    z-index:3;
}

/* tercera posición */
#s1:checked ~ .coverflow .c3,
#s2:checked ~ .coverflow .c4,
#s3:checked ~ .coverflow .c5,
#s4:checked ~ .coverflow .c1,
#s5:checked ~ .coverflow .c2{
    opacity:.25;
    transform:translateX(220px) scale(.78);
    z-index:2;
}

/* flecha pequeña debajo */
.next{
    position:absolute;
    bottom:15px;
    left:140px;
    width:35px;
    height:35px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    cursor:pointer;
    font-size:20px;
}

.next:hover{
    color:#00ffff;
    transform:translateY(5px);
}